.researchEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  width: 100%;
  height: 100%;
}

.createFirstResearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //   font-size: var(--font-size-small);
  gap: 12px;
}
