.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
