.button {
  font-family: var(--font-base);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;

  &.small {
    border-radius: 8px;
    font-size: var(--font-size-x-small);
    padding: 8px 16px;
  }

  &.medium {
    border-radius: 12px;
    font-size: var(--font-size-small);
    padding: 12px 24px;
  }

  &.large {
    border-radius: 16px;
    font-size: var(--font-size-medium);
    padding: 16px 32px;

    .buttonText {
      display: block;
    }
  }
}

.buttonContent {
  display: flex;
  gap: 8px;
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
}
