.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--text-basic);
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-medium);
}

.buttonsWrapper {
  display: flex;
  gap: 12px;

  button {
    width: 100%;
  }
}
