// .navigationWrapper {
//   height: 100vh;
// }

.navigation {
  z-index: 10;
  display: flex;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-basic);
  padding: 4px 0;
  width: 100%;
  border-top: 1px solid rgba(108, 113, 140, 0.28);
  &.active {
    color: var(--active-color);
    border-top: 1px solid var(--active-color);
  }
}
