$navigation-width: 56px;

.container {
  padding-left: $navigation-width;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: $navigation-width;
  left: 0;
  height: 100%;
  box-shadow: rgba(108, 113, 140, 0.28) -0.5px 0px 0px inset;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  color: var(--text-basic);
  min-height: 48px;

  &.active {
    color: var(--active-color);
    border-right: 1px solid var(--active-color);
  }
}
