.panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  overflow: auto;
  /* height: calc(100vh - 33px); */ //33px - высота навигационной панели снизу
  gap: 32px;
  top: 0;
  padding: 0 24px;
  padding-bottom: 24px;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.2s linear;

  &.open {
    transform: translateX(0%);
    // animation: exitPanel 0.3s linear forwards;
  }
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  width: 100%;
}

.title {
  white-space: nowrap;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.cardList {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 64px;
}

@keyframes exitPanel {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
