.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.textField {
  width: 100%;

  input:focus + div .fieldIcon path {
    fill: var(--theme-color);
  }
}

.fieldIcon path {
  fill: #94a3b8;
}

.passwordButton {
  background: none;
  pointer-events: auto;
}

.eyeIcon {
  fill: #94a3b8 !important;
  width: 20px !important;
  height: 20px !important;
}

.submitButton {
  color: #fff;
  background-color: var(--theme-color);
  width: 100%;
}

.offerToRegister {
  text-align: center;
  font-size: var(--font-size-small);

  .link {
    color: var(--theme-color);
  }
}
