.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.textField {
  width: 100%;
}

.submitButton {
  color: #fff;
  background-color: var(--theme-color);
  width: 100%;
}

.offerToRegister {
  text-align: center;
  font-size: var(--font-size-small);

  .link {
    color: var(--theme-color);
  }
}
