.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &.primary {
    background-color: var(--theme-color);

    &:hover {
      background-color: var(--theme-hover-color);
    }

    &:active {
      background-color: var(--theme);
    }
  }

  &.secondary {
    background-color: var(--background-secondary);

    &:hover {
      background-color: var(--background-secondary-hover);
    }

    &:active {
      background-color: var(--background-secondary-active);
    }
  }

  &.ghost {
    background: none;
  }

  &.small {
    font-size: small;
    width: 32px;
    height: 32px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.large {
    font-size: large;
    width: 56px;
    height: 56px;
  }
}
