:root {
  --theme-color: #6366f1;

  --text-basic: #1e293b;
  --text-description: #64748b;
  --text-secondary: #9ca3af;

  --border-main: #e2e8f0;
  --border-secondary: #f1f5f9;

  --background-light: #eff6ff;
  --background-secondary: #f3f4f6;

  --focus-color: #1e88e6;
  --active-color: #0568fd;
  --error-color: rgb(255, 0, 0);
}
