:root {
  --font-base: 'Roobert PRO', sans-serif;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
