:root {
  --font-base: 'Roobert PRO', sans-serif;

  --font-size-xx-small: 10px;
  --font-size-x-small: 12px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  --font-weight-x-light: 300;
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
}
