body {
  font-family: var(--font-base);
  margin: 0;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1e88e6;
}

button {
  cursor: pointer;
  border: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
}

a,
button {
  box-sizing: border-box;
  &:active,
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid #1e88e6;
  }
}
