body {
  font-family: var(--font-base);
  color: var(--text-basic);
  margin: 0;
}

html,
body {
  height: 100%;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1e88e6;
}

button {
  cursor: pointer;
  border: none;
  color: var(--text-basic);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

a,
button {
  box-sizing: border-box;
  &:active,
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2px solid #1e88e6;
  }
}

input {
  font-family: var(--font-base);
}
